<ion-header id="header">

  <ion-navbar>
    <ion-title>Besser als der Computer?</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <div style="display: inline-block;">
      <h4>Anzahl Versuche: {{taps}}</h4>
      <h4>Gefundene Objekte:</h4>
      <h4>Auto: {{car_found}}</h4>
      <h4>Du: {{found_objects}}</h4>
    </div>
    <div style="display: inline-block;">
      <button *ngIf="!checked"  ion-button (click)="checkTaps()">Auswerten</button>
      <button *ngIf="!checked" ion-button (click)="reset()">Reset</button>
      <button *ngIf="checked" ion-button color="danger" large (click)="dout()">I DOUBT IT!</button>
      <button *ngIf="checked" ion-button large (click)="newGame()">Neues Spiel</button>
    </div>
  </ion-toolbar>


</ion-header>

<ion-content>
  <canvas id="canvas" (click)="tap($event)"></canvas>
</ion-content>
